# important
# always ignore no matter what
.env
/.vscode

# these are temporary for when
# the framework initializes
# these will and should be removed
# after initialization
/config/*
/public/*
!/public/index.php
/app/*
/database/*
.htaccess

# this is for file storage
# this should be backed up elsewhere and not in git
/storage
/logs

# these are dependencies
# which should be managed 
# by php's composer
/vendor

# this keeps directories even if empty 
# for placeholders' sake
!**/.gitkeep

README
